*,
::before,
::after {
    padding: 0;
    margin: 0;
    // box-sizing: border-box;
    font-family: Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
}


:root{
    --div-size: calc(90vh / 21)
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    width: 12vw;
    display: flex;
    justify-content: space-between;
}

.maze{
    border: 5px solid black;
    width: 90vh;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    h1{
        position: absolute;
        top: 15%;
        left: 15%;
        font-size: 5vh;
        z-index: 1;
        width: 70%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }
    .winMessage{
        color: rgb(134, 26, 134);
        background-color: rgb(35, 106, 70);
        opacity: 0;
    }
    .loseMessage{
        color: orange;
        background-color: rgb(141, 24, 24);
        opacity: 0;
    }
    div{
        width: var(--div-size);
        height: var(--div-size);
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            width: calc(var(--div-size) - 1.5vh);
        }
    }
    .pacman{
        border-radius: 50%;
        background-color: darkorange;
        position: relative;
        transform: scaleY(1);
        .eye{
            position: absolute;
            width: 0.3vw;
            height: 0.3vw;
            border-radius: 50%;
            top: 20%;
            right: 50%;
            background: #333333;
        }
        .mouth{
            background: #fff;
            position: absolute;
            width: 100%;
            height: 100%;
            clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
            animation-name: eat;
            animation-duration: 0.2s;
            animation-iteration-count: infinite;

        }
        @keyframes eat {
          0% {
            clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
          }
          25% {
            clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
          }
      
          50% {
            clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
          }
      
          75% {
            clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
          }
      
          100% {
            clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
          }
        }
    }

    .wall{
        // outline: 1px solid white;
        background-color: black;
    }
    .point{
        // outline: 1px solid white;
        border-radius: 50%;
        background-color: green;
        border: calc(var(--div-size) / 3) solid white;
        box-sizing: border-box;
    }
    .cherry{
        // outline: 1px solid white;
        border-radius: 50%;
        background-color: red;
        border: calc(var(--div-size) / 3) solid white;
        box-sizing: border-box;
    }
    .blinky{
        border: 0px;
        border-radius: 0;
        background-color: white;
        svg{
            fill: purple;
        }
    }
    .pinky{
        border: 0px;
        border-radius: 0;
        background-color: white;
        svg{
            fill: pink;
        }
    }
    .inky{
        border: 0px;
        border-radius: 0;
        background-color: white;
        svg{
            fill: blue;
        }
    }
    .clyde{
        border: 0px;
        border-radius: 0;
        background-color: white;
        svg{
            fill: darkgreen;
        }
    }
    .scaredGhost{
        // animation-name: scared;
        // animation-duration: 2s;
        // animation-iteration-count: infinite;
        svg{
            fill: aquamarine;
        }
    }
    @keyframes scared{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
        
    }
}


