* {
  margin: 0.5em 0;
  padding: 0;
}

body {
  width: 90vw;
  //   height: 100vh;
  padding: 2em;
}

ul{
  li {
    display: inline;
    button {
      // width: 10vw;
      padding: 0.5em;
      margin-right: .5em;
    }
  }
}


.userPage{
  display: none;
  border: 2px solid black;
  padding: 1em;
  &__movieList{
    li{
      display: block;
    }
  }
  input{
    padding: .5em;
  }

}

.userWatchedMovie{
  display: none;
  position: absolute;
  top: 40vh;
  left: 5vw;
  li{
    display: flex;
  }
}

.creatUserPage{
  input{
    padding: .5em;
  }
}

.movieList {
  li {
    font-size: 1.2rem;
  }
}

#addMovieToUser {
  padding: 0 0.5em;
  font-size: 1.2em;
}
